
body {
    color: white;
    font-size:2vw;
}

.left{
    background-color: black;
}
.ex-pg {
    background-color: white;
}

.home-pg {
    background-size:cover;
    background-image: url(images.jfif);
}

header {
    color: black;
    text-align:center;
    font-size: 25px;
    border-style:solid;
    border-color:black;
    background-color:whitesmoke;
}

.button1 {
    position: relative;
    bottom:35;
    right: 0;
    font-size: 45px;
    color:black;
    
}


right {
    border-style:solid;
}


section::after {
    content: "";
    display: table;
    clear: both;
}

.sec1 {
    left: 790px;
    position: relative;
    width: 30%;
    top: 25px;
    color: black;
    border-style: solid;
    border-color: white;
}

nav {
    float: left;
    border-style:solid;
    border-color: black;
    width: 25%;
    height: 3000px;
    font-size: 35px;
    background-color: gray;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    position: relative;
    left: 790px;
    bottom: 3010;
    color: black;
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 300px
}

.sources {
    position: relative;
    left: 790px;
    bottom: 2010;
    color: black;
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 300px
}

footer {
    background-color: darkgray;
}
