.html {
width: 1920px;
height: 1080px;
}

header {
    border-style: solid;
    border-color: black;
    opacity: 85%;
    height: 40vh;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(Australia1.jpg);
    background-attachment: fixed;
}

.Navbar {
    background-color: lightgreen;
    height: 7vh;
    position: relative;
    top: 21vh;
    display: block;
}

.Navbar button {
    background-color: green;
    height: 6vh;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.Navbar a:hover {
    color: black;
}
.Navbar button:hover {
    color: black;
    background-color: greenyellow;
}

.Navbar a {
    color: gold;
    text-decoration: none;
    position: relative;
    font-size: large;
    height: 10px;

}

.parralax {
    background-image: url(Australia2.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:200vh;
    width: 100%;
}